# Copy to `.env` and adjust for your environment.
# Loaded by dotenv (see src/infrastructure/database/kysely.ts).
# Remove the {} as this as just placeholders
DATABASE_URL=postgres://{USERNAME}:{PASSWORD}@localhost:5433/commerce_db
PORT=5000
